@font-face {
  font-family: 'Montserrat Regular';
  src: url('../fonts/Montserrat-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('../fonts/Montserrat-Bold.otf') format('opentype');
}

body {
  font-family: 'Montserrat Regular';
  color: black;
  background-color: white;
  font-size: 20px;
  letter-spacing: 0.05em;
}

body, html {
  height: 100%;
  margin: 0;
}

b {
  font-family: 'Montserrat Bold';
}

/* LOGO */
.logo2{
  display: inline-block;
  padding-left: 20px;
}

.topA {
  margin-top: 10px;
  margin-left: 3em;
}

/* NAVIGATION */
.topnav{
  display: flex;
  justify-content: space-between;


  background-color: #5E3EAB;
  padding: 8px 0px;
}

.topnav nav ul {
  text-align: center;
}

.topnav nav ul li {
  display: inline-block;
  width: 150px;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: 'Montserrat Regular';
  /* float: left; */
  color: white;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: font-weight .3s;
  background-color: #5E3EAB;
}

/* Change the font weight of links on hover */
.topnav nav a:hover {
  font-family: 'Montserrat Bold';
  border-left: 1px solid white;
  border-right: 1px solid white;
}

/* Add a weight to the active/current link */
.topnav a.active {
  font-family: 'Montserrat Bold';
  color: white;
}

@media (max-width: 915px) {
  .topnav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .topA {
    margin: 0 auto;
  }
}

/* SMALL SCREEN */
@media (max-width: 575px) {

  .topnav nav ul {
    text-align: center;
  }

}

/* HERO IMAGE */
.hero-image {
  background-image: linear-gradient(135deg, rgba(181, 104, 238, 0.3), rgba(57, 25, 116, 0.6)), url("../img/h1.jpg");
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

/* .hero-image .homeshot1 img{
  position: absolute;
  float: left;
  top: 200px;
  left: 20%;
} */
.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container>div {
  /* background-color: black; */
  width: 30%;
  margin-top: 5%;
  text-align: center;
  line-height: 30px;
  font-size: 30px;
}

.flex-text {
  text-align: left;
  margin-top: 50%;
  color: white;
}

.content{

}

.title {
  font-family: 'Montserrat Bold';
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.team-page img{
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.team-card{
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 0.6em;
}
